<h4><%= I18n.t(:messages) %></h4>

<%= render "search", locals: {:btitle => I18n.t(:searchmessages), :startdate => Date.today, :stopdate => Date.today, :event => ''}  %>


<%= render "messagestable"%>

