<h4><%= I18n.t(:editnote) %></h4>

<%= render "form", note: @note, locals: {:btitle => I18n.t(:editnote), :formmethod => :put, :url => note_path(@clientid,@note)} %>

<br>

<div>
  <%= link_to I18n.t(:backtonotes), notes_path %>
</div>
