<h1>New note</h1>

<%= render "form", note: @note, locals: {:btitle => "Add Note", :formmethod => :post, :url => notes_path(@clientid)} %>

<br>

<div>
  <%= link_to "Back to notes", notes_path %>
</div>
