<h4>Queue Statistics</h4>

<%= render "search", locals: {:btitle => "Get Queue Statistics", :startdate => Date.today, :stopdate => Date.today, :queue_id => 0}  %>



<%= render "dashboardtop", locals: {:allcalls => @allcalls , :successcalls => @successcalls, :missedcalls => @missedcalls, :duration => @duration, :avgduration => @avgduration}  %>


<%= render "agents", locals: {:agentrowdata => @agentrowdata}  %>