<h4><%= I18n.t(:editreadstep) %></h4>

<%= render "formread", step: @step , locals: {:btitle => "Update Read Step", :formmethod => :put, :url => update_stepread_path(@step.route_id,@step.id)} %>

<br>

<div>
  <%= link_to I18n.t(:backtosteps), steps_path %>
</div>
