<h1>Edit Playback step</h1>
<%= render "formplayback", step: @step , locals: {:btitle => "Update Playback Step", :formmethod => :put , :url => update_stepplayback_path(@step.route_id,@step.id)} %>

<br>

<div>
  <%= link_to "Back to steps", steps_path %>
</div>
