<h4><%= I18n.t(:editdialstep) %></h4>

<%= render "formdial", step: @step , locals: {:btitle => "Update Dial Step", :formmethod => :put, :url => update_stepdial_path(@step.route_id,@step.id)} %>

<br>

<div>
  <%= link_to I18n.t(:backtosteps), steps_path %>
</div>
