<h1>Edit Queue step</h1>

<%= render "formqueue", step: @step , locals: {:btitle => "Update Queue Step", :formmethod => :put, :url => update_stepqueue_path(@step.route_id,@step.id)} %>

<br>

<div>
  <%= link_to "Back to steps", steps_path %>
</div>
