<h1>Edit Dial step</h1>

<%= render "formmenu", step: @step , locals: {:btitle => "Update Dial Step", :formmethod => :put, :url => update_stepmenu_path(@step.route_id,@step.id)} %>

<br>

<div>
  <%= link_to "Back to steps", steps_path %>
</div>
