<h1>Edit External Dial step</h1>

<%= render "formdialexternal", step: @step , locals: {:btitle => "Update External Dial Step", :formmethod => :put, :url => update_stepdialexternal_path(@step.route_id,@step.id)} %>

<br>

<div>
  <%= link_to "Back to steps", steps_path %>
</div>
