<h4><%= I18n.t(:editvmstep) %></h4>

<%= render "formvoicemail", step: @step , locals: {:btitle => "Update Voicemail Step", :formmethod => :put, :url => update_stepvoicemail_path(@step.route_id,@step.id)} %>

<br>

<div>
  <%= link_to I18n.t(:backtosteps), steps_path %>
</div>
