<h4><%= I18n.t(:editringgroupstep) %></h4>

<%= render "formringgroup", step: @step , locals: {:btitle => "Update Ring Group Step", :formmethod => :put, :url => update_stepringgroup_path(@step.route_id,@step.id)} %>

<br>

<div>
  <%= link_to I18n.t(:backtosteps), steps_path %>
</div>
