<h4><%= I18n.t(:editexdialstep) %></h4>

<%= render "formdialexternal", step: @step , locals: {:btitle => "Update External Dial Step", :formmethod => :put, :url => update_stepdialexternal_path(@step.route_id,@step.id)} %>

<br>

<div>
  <%= link_to I18n.t(:backtosteps), steps_path %>
</div>
