<h4><%= I18n.t(:editqueuestep) %></h4>

<%= render "formqueue", step: @step , locals: {:btitle => "Update Queue Step", :formmethod => :put, :url => update_stepqueue_path(@step.route_id,@step.id)} %>

<br>

<div>
  <%= link_to I18n.t(:backtosteps), steps_path %>
</div>
