<h4><%= I18n.t(:editmenustep) %></h4>

<%= render "formmenu", step: @step , locals: {:btitle => "Update Menu Step", :formmethod => :put, :url => update_stepmenu_path(@step.route_id,@step.id)} %>

<br>

<div>
  <%= link_to I18n.t(:backtosteps), steps_path %>
</div>
