<h1>New Dial step</h1>

<%= render "formdial", step: @step , locals: {:btitle => "Add Dial Step", :formmethod => :post, :url => add_stepdial_path(@step.route_id)} %>

<br>

<div>
  <%= link_to "Back to steps", steps_path %>
</div>
