<h4><%= I18n.t(:newdialstep) %></h4>

<%= render "formdial", step: @step , locals: {:btitle => "Add Dial Step", :formmethod => :post, :url => add_stepdial_path(@step.route_id)} %>

<br>

<div>
  <%= link_to I18n.t(:backtosteps), steps_path %>
</div>
