<h1>New External Dial step</h1>

<%= render "formdialexternal", step: @step , locals: {:btitle => "Add External Dial Step", :formmethod => :post, :url => add_stepdialexternal_path(@step.route_id)} %>

<br>

<div>
  <%= link_to "Back to steps", steps_path %>
</div>
