<h4><%= I18n.t(:newexdialstep) %></h4>

<%= render "formdialexternal", step: @step , locals: {:btitle => "Add External Dial Step", :formmethod => :post, :url => add_stepdialexternal_path(@step.route_id)} %>

<br>

<div>
  <%= link_to I18n.t(:backtosteps), steps_path %>
</div>
