<h4><%= I18n.t(:newmenustep) %></h4>

<%= render "formmenu", step: @step , locals: {:btitle => "Add Menu Step", :formmethod => :post, :url => add_stepmenu_path(@step.route_id)} %>

<br>

<div>
  <%= link_to I18n.t(:backtosteps), steps_path %>
</div>
