<h4><%= I18n.t(:newplaybackstep) %></h4>

<%= render "formplayback", step: @step , locals: {:btitle => "Add Playback Step", :formmethod => :post, :url => add_stepplayback_path(@step.route_id)} %>

<br>

<div>
  <%= link_to I18n.t(:backtosteps), steps_path %>
</div>
