<h4><%= I18n.t(:newqueuestep) %></h4>

<%= render "formqueue", step: @step , locals: {:btitle => "Add Queue Step", :formmethod => :post, :url => add_stepqueue_path(@step.route_id)} %>

<br>

<div>
  <%= link_to I18n.t(:backtosteps), steps_path %>
</div>
