<h1>New Read step</h1>

<%= render "formread", step: @step , locals: {:btitle => "Add Read Step", :formmethod => :post, :url => add_stepread_path(@step.route_id)} %>

<br>

<div>
  <%= link_to "Back to steps", steps_path %>
</div>
