<h4><%= I18n.t(:newringgroupstep) %></h4>

<%= render "formringgroup", step: @step , locals: {:btitle => "Add Ring Group Step", :formmethod => :post, :url => add_stepringgroup_path(@step.route_id)} %>

<br>

<div>
  <%= link_to I18n.t(:backtosteps), steps_path %>
</div>
