<h1>New Ring Group step</h1>

<%= render "formringgroup", step: @step , locals: {:btitle => "Add Ring Group Step", :formmethod => :post, :url => add_stepringgroup_path(@step.route_id)} %>

<br>

<div>
  <%= link_to "Back to steps", steps_path %>
</div>
