<h1>New Voicemail step</h1>

<%= render "formvoicemail", step: @step , locals: {:btitle => "Add Voicemail Step", :formmethod => :post, :url => add_stepvoicemail_path(@step.route_id)} %>

<br>

<div>
  <%= link_to "Back to steps", steps_path %>
</div>
