<h4><%= I18n.t(:monitor) %></h4>

<%= render "search", locals: {:btitle => I18n.t(:startmonitor), :startdate => Date.today, :stopdate => Date.today, :caller => '', :called => '', :direction => 'Both'}  %>