<h4><%= I18n.t(:newaccount) %></h4>

<%= render "form", account: @account, locals: {:btitle => I18n.t(:addaccount), :formmethod => :post, :url => accounts_path} %>
<br>

<div>
  <%= link_to I18n.t(:backtoaccounts), accounts_path %>
</div>
